.profile{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

.image {
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.stats {
    border-radius: 10px;
    flex-direction: column;
    justify-content: right;
}