.flexing{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.galinhas{
    min-height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
  }

  .image {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10%;
    width: 400px;
    height: 400px;
    margin: 10px;
}