.App{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3e6dca 0%, #2c4872 100%);
    flex-direction: space-around;
  }
  
  .searchform{
    min-height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .searchbar{
    width: 50%;
    border: none;
    padding: 10px;
  }
  
  .searchbutton{
    background: rgb(180, 221, 30);
    border: none;
    padding: 10px 20px;
    color: white;
  }
  
  .results{
    display: flex;
    flex-wrap: wrap;
  }
  
  .frangos{
    min-height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
  }
  